/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */

html {
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    font-family: "Verdana", sans-serif;
    background-color: #4f5165;
    color: #dddddd;
    margin: 0px;
    padding: 0px;
}

a:link, a:visited{
    color: #eeeeee;
}
 
button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }

header {
    display: flex;
    height: 100px;
  }
  
.title-card {
    width: 35%;
    margin-top: 10px;
}

.title {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 3.2rem;
    border-radius: 10px;
    background-color: #1b1725;
    font-size: 1.8rem;
    letter-spacing: 4px;
    text-align: center;
}

.credits {
    margin-top: 5px;
    font-size: 0.8em;
    text-align: center;
    /* color: #eeeeee;  */
}

.input-section {
    width: 35%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
}
  
.words {
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
} 

#count {
    font-size: 1.2rem;
} 

.button-section {
    width: 30%;
    margin-top: 20px;
    margin-right: 20px;
}

button {
    border-radius: 5px;
    font-size: 1.2rem;
    width: 50%;
  }

.results-container {
    position: sticky;
    top: 0px;
    margin-top: 10px;
    padding-top: 5px;
    background-color: #1b1725;
    padding-bottom: 10px;
    border: 2px solid #5f4bb6;
    border-style: solid none solid none;
}

.results {
    margin-top: 10px;
    text-align: center;
    height: 25px;
    color: #eeeeee;
  }

.prog-con {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #4f5165;
    border-radius: 5px;
    height: 1.4rem;
  }
  
.prog-bar {
    position: absolute;
    height: 1.4rem;
    width: 0%;
    background-color: #5f4bb6;
    border-radius: 2px;
    z-index: 1;
}
  
.prog-text {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
    visibility: hidden;
}
  
.prog-text:after {
    content: "%";
}

.combinations {
      display: grid;
      margin-top: 10px;
      grid-template-columns: repeat(4, 1fr);
}
  
.rootWord {
    margin: 10px;
    padding: 5px;
    text-align: center;
    background: #1b1725;
    border-radius: 5px;
    font-weight: 600;
}

.match {
      margin: 10px;
      padding: 5px;
      text-align: center;
      background: #1b1725;
      border-radius: 5px;
}
  
@media screen and (max-width: 800px) {
    header {
        height: auto;
        display: block;
    }

    .title-card {
        width: 100%;
        margin-right: 10px;
    }

    .input-section {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .words {
        width: 40%;
      } 

    .button-section {
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }

    button {
        width: 40%;
    } 
}

@media screen and (max-width: 800px) {
    .combinations {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .combinations {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}
